.mdx-image-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.bordered-image {
  border: 1px solid;
}

.max-width-image {
  max-width: 600px;
}

code {
  white-space: pre-wrap !important;
}
